{% extends 'server/master.html' %}

{% block page_content %}
<h1>Контакты</h1>
<form action="contacts.html">
    <fieldset>
        <legend>Напишите нам</legend>
        <input type="text" name="name" class="input_area" placeholder="Ваше Имя">
        <br>
        <input type="email" name="email" class="input_area" placeholder="Введите Ваш электронный адрес">
        <br>
        <input type="text" name="subject" class="input_area" placeholder="Тема сообщения">
        <br>
        <label for="1">Суть Вашего письма:</label>
        <br>
        <textarea name="letter" id="1" cols="30" rows="10" class="input_area"></textarea>

        <br>
        <input type="submit" value="Отправить">
    </fieldset>
</form>
<h2>Адрес</h2>
<p><b>Телефон:</b>+7 921 310 80 87
    <br><b>Адрес:</b>г. Санкт-Петербург, Литейный пр., д. 34
    <br><b>Email:</b>contakt@fantasy.ru
</p>
<div>
<script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A75639127a05e68a85ccb6a7048d7e9caddf35ad3256dcc8ec7141e23d28041ba&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}