{% extends 'server/master.html' %}

{% block page_content %}
{% block title %}
Магазин игрушек "Фантазия"
{% endblock %}
<h1>Главная</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam assumenda culpa dolor dolorem est excepturi,
    illo illum in inventore ipsa laborum laudantium, maxime nemo nesciunt non odit officia quas ratione repellat
    reprehenderit sunt temporibus totam ut veniam? Alias consectetur est et fuga laboriosam quas quod repudiandae sed
    soluta voluptatem.</p>
{% endblock %}