{% extends 'server/master.html' %}

{% block page_content %}
{% block title %}
Каталог
{% endblock %}
<h1>Каталог</h1>
<div class="image_cat">
<div class="cat_product">
<img src="../static/images/bear.jpg" alt="Bear" title="Игрушка Медведь">
<p>Мягкая игрушка "Медведь"</p>
<a href="products/bear.html">Медведь</a>
</div>
<div class="cat_product">
<img src="../static/images/car.jpg" alt="Car" title="Игрушка Автомобиль">
<p>Игрушка радиоуправляемая "Автомобиль"</p>
<a href="products/car.html">Автомобиль</a>
</div>
<div class="cat_product">
<img src="../static/images/dinosaur.jpg" alt="Dinosaur" title="Игрушка Динозавр">
<p>Игрушка "Динозавр"</p>
<a href="products/dinosaur.html">Динозавр</a>
</div>
<div class="cat_product">
<img src="../static/images/tank.jpg" alt="Tank" title="Игрушка Танк">
<p>Игрушка радиоуправляемая "Танк"</p>
<a href="products/tank.html">Танк</a>
</div>
<div class="cat_product">
<img src="../static/images/aircraft.jpg" alt="Tank" title="Игрушка Самолет">
<p>Игрушка деревянная "Самолет"</p>
<a href="products/aircraft.html">Самолет</a>
</div>
<div class="cat_product">
<img src="../static/images/chicken.jpg" alt="Chicken" title="Игрушка Цыпленок">
<p>Игрушка "Ципленок"</p>
<a href="products/chicken.html">Цыпленок</a>
</div>
<div class="cat_product">
<img src="../static/images/monkey.jpg" alt="Monkey" title="Игрушка Обезьяна">
<p>Игрушка мягкая "Обезьяна"</p>
<a href="products/monkey.html">Обезьяна</a>
</div>
<div class="cat_product">
<img src="../static/images/spinner.jpg" alt="Spinner" title="Игрушка Спиннер">
<p>Игрушка "Спиннер"</p>
<a href="products/spinner.html">Спиннер</a>
</div>
<div class="cat_product">
<img src="../static/images/spiral.jpg" alt="Spiral" title="Игрушка Спираль">
<p>Игрушка "Спираль"</p>
<a href="products/spiral.html">Спираль</a>
</div>
<div class="cat_product">
<img src="../static/images/top.jpg" alt="Top" title="Игрушка Юла">
<p>Игрушка "Юла"</p>
<a href="products/top.html">Юла</a>
</div>
    </div>
{% endblock %}
