<ul class="head_list">
        <li>
            <a href="{% url 'index' %}"
               class="{% if request.resolver_match.url_name == 'index' %}
                        active
                      {% endif %}">
                Главная
            </a>
        </li>
        <li>
            <a href="{% url 'about' %}"
               class="{% if request.resolver_match.url_name == 'about' %}
                        active
                      {% endif %}">
                О проекте
            </a>
        </li>
        <li>
            <a href="{% url 'contacts' %}"
               class="{% if request.resolver_match.url_name == 'contacts' %}
                        active
                      {% endif %}">
                Контакты
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
              <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
              <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
</li>

</ul>
