<ul class="head_list">
        <li>
            <a href="{% url 'main:index' %}"
               class="{% if request.resolver_match.url_name == 'index' %}
                        active
                      {% endif %}">
                Главная
            </a>
        </li>
        <li>
            <a href="{% url 'main:about' %}"
               class="{% if request.resolver_match.url_name == 'about' %}
                        active
                      {% endif %}">
                О проекте
            </a>
        </li>
        <li>
            <a href="{% url 'main:contacts' %}"
               class="{% if request.resolver_match.url_name == 'contacts' %}
                        active
                      {% endif %}">
                Контакты
            </a>
        </li>
        <li>
            <a href="{% url 'products:list' %}"
               class="{% if request.resolver_match.url_name == 'contacts' %}
                        active
                      {% endif %}">
                Витрина
            </a>
        </li>


</ul>
