<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    {% block page_static %}
    <link rel="stylesheet" href="{% static 'server/css/master.css' %}">
    {% endblock %}
</head>
<body>
<div class="container">
<div class="header">
    <div class="img_head">
    <img src="/static/server/images/logo.png" alt="Logo">
        </div>
    <h3>Магазин игрушек "Фантазия"</h3>
    {% block menu %}
    {% include 'server/inc_categories_menu.html' %}
    {% endblock %}
    </div>
    <hr>
    <ul class="categories">

    </ul>

{% block page_content %}
    {% endblock %}


<div class="footer">
<hr>
    <p>&copy;Все права защищены</p>
    <div>
        {% now 'd.m.Y' %}
    </div>
</div>
</div>
{% block page_js %}
    {% endblock %}
<script src="{% static 'server/js/categories.js' %}"></script>
<script>
    const categories = document.querySelector('.categories');

    const categoriesUrl = '{% url "rest_categories:list" %}';

    const renderCategoryList = () => {
        let categoriesString = '';
        fetch(categoriesUrl)
            .then(response => response.json())
            .then(
                data => (
                    data.results.reduce(
                    (val, itm, idx) => val += renderCategory(itm), ''
                    )

                )
            )
            .then(
                renderedString => {
                categories.innerHTML = renderedString;
        }
        )

    };
    document.addEventListener("DOMContentLoaded", renderCategoryList);
</script>
</body>
</html>